.App {
  text-align: center;
  font-family: 'Spartan', sans-serif;
}

.card-pic {
  object-fit: contain;
  transition: transform 450ms;
}

.card-pic:hover {
  border: 2.5px solid #679cdb;
  border-radius: 13.5px;
  transform: scale(1.075);
}