.App {
  text-align: center;
  font-family: 'Spartan', sans-serif;
  color: #116ede;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 200vh;
  margin: 0 auto;
}

.card-pic {
  object-fit: contain;
  transition: all ease-in-out 400ms;
  margin: 20px;
}

.card-pic:hover {
  border: 2.5px solid #679cdb;
  border-radius: 13.5px;
  transform: scale(1.01);
}