.App {
  text-align: center;
  font-family: 'Spartan', sans-serif;
  color: #116ede;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 90vh;
}

.card-pic {
  object-fit: contain;
  transition: transform 450ms;
  margin-bottom: 20px;
}

.card-pic:hover {
  border: 2.5px solid #679cdb;
  border-radius: 13.5px;
  transform: scale(1.075);
}