.App {
  text-align: center;
}

.card-pic {
  object-fit: contain;
  transition: transform 450ms;
}

.card-pic:hover {
  border: 1px solid #679cdb;
  border-radius: 10.5px;
  transform: scale(1.085);
}